body {
  text-align: center;
  background-color: #d9eed9;
}

a {
  color: #4caf50;
}
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
img {
  width: 50px;
}

.container {
  width: 40%;

  border-radius: 5px;
  border: 2px solid #344d6d;
  margin: 50px auto;
  padding: 50px;
  padding-bottom: 0;
  background-color: white;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}
.weather-data-values {
  color: purple;
}

input.search-form-input {
  width: 60%;
  padding: 8px;
  font-size: large;
}
input.search-form-submit {
  padding: 10px;
  font-size: large;
  background-color: #4caf50;
  border-radius: 7px;
  border: #4caf50;
  color: white;
}
.city {
  color: rgb(26, 25, 25);
  font-size: 30px;
  margin-bottom: 0;
  text-align: left;
}
.temperature {
  font-weight: 900;
  align-items: baseline;
}
.more-info {
  color: rgb(77, 76, 76);
  margin-top: 5px;
  margin-bottom: 30px;
  text-align: left;
}
#temperature {
  font-size: 50px;
}
sup {
  font-size: 25px;
}
